@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600;700;800;900&family=Bellefair&family=Crimson+Text:wght@400;600&family=DM+Sans:wght@400;500;700&family=Exo+2:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Inter:wght@200;300;400;500;600;700;800;900&family=Lato:wght@400;900&family=Noto+Serif+NP+Hmong&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,600&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Ubuntu:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Nunito&display=swap");

body {
  background-image: url("../icon/Bg.svg");
  background-color: black;
  font-family: "Nunito";
  margin: 0px;
  overflow-x: hidden;
}

.nav-bar {
  padding: 0px 15px;
}

.logo {
  width: fit-content;
  cursor: pointer;
  display: flex;
}

.logo-text {
  font-family: "Inter";
  font-weight: bold;
  font-size: 36px;
  color: #4f9655;
  margin-left: 20px;
}

.logo img {
  width: 80px;
}

h2,
h3,
.footer {
  text-align: center;
}

a {
  text-decoration: none;
}

.main,
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  margin-top: 10vh;
  margin-bottom: 3vh;
  color: transparent;
  background: -webkit-linear-gradient(-49deg, #4f9655 43.69%, #eabb0f 47.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: bg-animation 15s infinite alternate;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  33% {
    background-position: center;
  }
  100% {
    background-position: right;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.popup {
  max-width: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
  z-index: 4;
  text-align: center;
}

.popup img {
  width: 150px;
}

.popup h2 {
  font-size: 2rem !important;
  text-align: center !important;
  width: 100% !important;
}

.g-signin2 {
}

h2 {
  color: #aaaaaa;
  font-style: medium;
  width: 35%;
  font-size: 30px;
}

h3 {
  color: rgba(170, 170, 170, 1);
  font-style: bold;
  font-size: 25px;
  margin-top: 10vh;
}

h4 {
  border: 2px solid #aaaaaa;
  border-radius: 4.3vw;
  padding: 2.9vw;
  width: fit-content;
}
.footer {
  color: rgba(170, 170, 170, 1);
  font-style: semi-bold;
}

.timer {
  background: linear-gradient(133deg, #6d6d6d 0%, #b8bebe 100%);
  display: flex;
  border-radius: 30px;
  padding: 15px 80px;
}
.parent {
  margin: 0px 25px;
}
.number {
  color: white;
  font-weight: bold;
  font-size: 60px;
  margin: 15px;
  font-family: "Times New Roman", Times, serif;
}
.text {
  color: white;

  font-size: 25px;
}

.get-notified {
  cursor: pointer;
  border: 1px solid rgb(206, 204, 204);
  border-radius: 25px;
  padding: 15px 50px;
  display: flex;
  margin-top: 2vh;
  margin-bottom: 4vh;
  align-items: center;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-size: 26px;
  background-color: transparent;
}

.get-notified img {
  width: 40px;
  padding-right: 10px;
}

.get-notified:hover {
  background-color: rgb(249, 249, 249);
  transition: all 2s;
}
.get-notified:hover {
  color: black;
  transition: all 2s;
}

h5 {
  font-family: "Caveat Brush";
  font-size: 25px;
  margin-top: 1vw;
}
h5 a {
  text-decoration: none;
  color: rgba(170, 170, 170, 0.8);
}
.socials {
  display: flex;
  margin: 5vh auto;
  width: 500px;
  align-items: center;
}
.social_text {
  color: rgba(170, 170, 170, 1);
}
.social-icons {
  margin-left: 15px;
  width: 55%;
  display: flex;
  justify-content: space-around;
}
.icon-img {
  width: 40px;
}

.green {
  color: #088d51;
}
.devices-image,
.decor {
  position: absolute;
  z-index: -2;
}

.devices-image {
  width: 100vw;
  top: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.image1 {
  width: 35vw;
  margin-left: 2vw;
}
.image2 {
  width: 20vw;
  max-height: 800px;
  margin-top: 40px;
  margin-left: 5vw;
}

/* .decor1 {
  top: 60vh;
  left: 35vw;
}
.decor2 {
  top: 85vh;
  left: 10vw;
}
.decor3 {
  top: 30vh;
  left: 5vw;
}
.decor4 {
  top: 28vh;
  left: 90vw;
}
.decor5 {
  top: 80vh;
  left: 75vw;
} */

@media (min-height: 900px) {
  .powered {
    margin-top: 5vh;
  }
  h1 {
    margin-top: 5vh;
  }
  h3 {
    margin-top: 14vh;
  }
}
@media (max-width: 1000px) {
  h1 {
    font-size: 85px;
  }
  h2 {
    font-size: 24px;
  }
  .devices-image {
    top: 35vh;
  }
  h3 {
    font-size: 20px;
  }
  .get-notified {
    padding: 15px 30px;
  }
  .get-notified img {
    width: 30px;
  }
  .get-notified button {
    font-size: 20px;
  }
  .decor {
    width: 25px;
  }
  .devices-image {
    display: none;
  }
  .icon-img {
    width: 25px;
  }
  .timer {
    padding: 10px 60px;
  }
  .parent {
    margin: 0px 20px;
  }
  .number {
    font-size: 40px;
    margin: 10px;
  }
}
@media (max-width: 750px) {
  body {
    background-image: url("../icon/bg-mobile.svg");
  }
  .logo-text {
    font-size: 25px;
  }
  .logo img {
    width: 60px;
  }
  h1 {
    font-size: 65px;
    margin-top: 4vh;
    margin-bottom: 1vh;
  }
  h2 {
    width: 60vw;
    font-size: 20px;
    line-height: 30px;
  }
  h3 {
    margin-top: 2vh;
  }
  .get-notified {
    margin-bottom: 0vh;
  }
  h5 {
    margin-top: 0vh;
    font-size: 20px;
  }
  .devices-image {
    position: relative;
    top: -55px;
    overflow: hidden;
  }
  .image1 {
    width: 55vw;
    transform: rotateZ(-28deg);
  }
  .image2 {
    width: 35vw;
    height: 45vw;
    transform: rotateZ(45deg);
  }
  h5 .green {
    font-size: 25px;
  }
  .powered {
    margin-top: 5vh;
  }
  .decor1 {
    top: 40vh;
    left: 55vw;
  }
  .decor2 {
    top: 70vh;
    left: 40vw;
  }
  .decor3 {
    top: 30vh;
    left: 10vw;
  }
  .decor4 {
    top: 13vh;
    left: 85vw;
  }
  .decor5 {
    top: 85vh;
    left: 90vw;
  }
  .number {
    font-size: 35px;
    margin: 5px;
  }
  .text {
    font-size: 20px;
  }
  .timer {
    padding: 10px 40px;
  }
  .parent {
    margin: 0px 15px;
  }
}

@media (max-width: 550px) {
  .socials {
    width: 70vw;
    flex-direction: column;
    margin: 2vh auto;
  }
  .social-icons {
    margin-left: 0px ;
    width: 100%;
  }
  .number {
    font-size: 25px;
    margin: 5px;
  }
  .text {
    font-size: 18px;
  }
  .timer {
    padding: 10px 20px;
  }
  .parent {
    margin: 0px 10px;
  }
}

@media (max-width: 430px) {
  .logo-text {
    font-size: 20px;
  }
  .logo img {
    width: 45px;
  }
  h1 {
    font-size: 50px;
    margin-top: 2vh;
    margin-bottom: 1vh;
  }
  h2 {
    width: 70vw;
    font-size: 16px;
  }
  h3 {
    font-size: 18px;
    margin-top: -3vh;
  }
  .decor4 {
    top: 25vh;
    left: 85vw;
  }
  .decor2 {
    top: 85vh;
    left: 7vw;
  }
  .decor3 {
    top: 20vh;
    left: 5vw;
  }
  .number {
    font-size: 25px;
    margin: 5px;
  }
  .text {
    font-size: 18px;
  }
  .timer {
    padding: 10px 20px;
  }
}

@media (max-width: 430px) and (min-height: 700px) {
  body {
    /* background-color: red; */
  }
  h1 {
    margin-top: 5vh;
  }
  h2 {
    margin-bottom: 4vh;
  }
  h3 {
    font-size: 18px;
    margin-top: -2vh;
  }
  h5 {
  }
  .get-notified {
    margin-top: 5vh;
    margin-bottom: 0vh;
  }
}
