@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bgImg.jpg");
  font-family: "Manrope";
  margin: 0px;
  max-width: 100vw;
  max-height: 100vh !important;
}

.logo p{
  font-size: 28px;
  font-weight: 800;
}

.logo img{
  width: 42px;
}

a {
  text-decoration: none;
}

/* .main,
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.main h1{
  line-height: 70px;
}

.main p {
  max-width: 360px;
  font-size: 18px;
  line-height: 30px;
}